$mainBlue: #60a7c0;
$mainBlueHover: #82afc1;
$white: #fff;
$darkTextColor: #394a59;
$inputBorderColor: #cbd2e0;
$inputFormBG: rgba(255, 255, 255, 0.9);
$shadowColor: #394a5944;
$mainPink: #e49a85;
$mainPinkHover: #e4afa0;
$dropdownBG: #525252;
