.header_img {
  background-image: url('../../public/assets/BeachBanner.png');
  max-width: 80%;
  width: 95%;
  height: 350px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
