@import 'variables';

.container {
  padding: 20px;
}

.bookContainer {
  margin-bottom: 40px;
}

.bookTitle {
  font-size: 24px;
  font-weight: 600;
  color: $darkTextColor;
}

.flightButton {
  background-color: $mainPink;
  margin-top: 20px;
}
