@import '../variables';

.container {
  grid-column: 0/1;
  background-color: $mainBlue;
  height: 70vh;
  border-radius: 20px;
  padding: 20px;
}

.trips_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add_trip {
  display: block;
  background: transparent;
  background-image: url('../../public/assets/PlusButton.svg');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  cursor: pointer;
}

.trip_search {
  border-radius: 5px;
  padding: 2px 10px;
  width: 100%;
  font-size: 14px;
  color: $darkTextColor;
}

.trip_search:focus,
.trip_search:active {
  border-radius: 5px;
  outline: none;
}

.trips {
  margin: 20px 0;
  height: 57vh;
  overflow-y: auto;
}

.trip {
  margin-bottom: 15px;
  color: $white;
  font-size: 18px;
}

.trip_over {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    line-height: 1em;

    &::before {
      content: '';
      width: 15px;
      height: 15px;
      background-image: url('../../public/assets/icon_checkmark.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      margin-right: 5px;
    }
  }
}

@media (max-width: 960px) {
  .container {
    grid-column: 0;
    grid-row: 0;
    height: 40vh;
  }
}
